.grid {
    width: 1500px;
    height: 750px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12% 10% 13% 13% 13% 13% 13% 13%;
    display: grid;
    text-align: left;
    border: solid purple;
    margin: 20px 20px 20px 20px;
    padding: 20px 10px 20px 10px;
    position: relative;
}
.weekday {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}
.month {
    grid-column: 2 / 5;
    font-weight: 900;
    font-size: 72px;
    font-family: Tahoma;
    background-color: purple;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    
}
.arrowLeft {
    grid-column: 1;
    font-weight: 900;
    font-size: 72px;
    font-family: Tahoma;
    text-align: center;
    background-color: purple;
    color: white;
    width: 100%;
    height: 100%;
}
.arrowRight {
    grid-column: 7;
    font-weight: 900;
    font-size: 72px;
    font-family: Tahoma;
    text-align: center;
    background-color: purple;
    color: white;
    width: 100%;
    height: 100%;
}
.year {
    grid-column: 5 / 7;
    font-weight: 900;
    font-size: 72px;
    font-family: Tahoma;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: purple;
    color: white;
    opacity: 1;
    width: 100%;
    height: 100%;
}
span {
    font-family: Tahoma;
    font-size: 36px;
    text-align: left;
    background-color: rgba(128,0,128,0.5);
}
.beforeafter {
    border: solid purple thin;
}
.myMonth {
    background-color: rgba(128,0,128,0.25);
    border: solid purple thin;
}
.today {
    background-color: rgba(128,0,128,0.75);
    color: white;
    border: solid purple thin;
    font-size: 48px;

}
.clickedDay {
    background-color: white;
    color: purple;
    border: solid purple thin;
    font-size: 48px;
}